<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [90]:
import pandas as pd

Load the dataset into a dataframe.

In [91]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [92]:
df.shape

(11552, 85)

In [96]:
df["UndergradMajor"].value_counts()

Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [97]:
# your code goes here
num_duplicates = df.duplicated().sum()
num_duplicates

154

In [98]:
df["Respondent"].duplicated().sum()

154

In [99]:
df["EdLevel"].duplicated().sum()

11542

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [100]:
# your code goes here
df=df.drop_duplicates(inplace=False)

Verify if duplicates were actually dropped.

In [101]:
# your code goes here
df.duplicated().sum()

0

In [119]:
df["EdLevel"].isnull().sum()

112

In [ ]:
df["Respondent"]

## Finding Missing values

Find the missing values for all columns.

In [103]:
df.isnull().sum().sum()

30967

Find out how many rows are missing in the column 'WorkLoc'

In [104]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [105]:
# your code goes here
value_counts = df['WorkLoc'].value_counts()
value_counts

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [106]:
#make a note of the majority value here, for future reference
value_counts = df['WorkLoc'].value_counts().idxmax()
value_counts

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [107]:
# your code goes here
most_frequent_value = df['WorkLoc'].value_counts().idxmax()
df['WorkLoc'].fillna(most_frequent_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [108]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [118]:
# your code goes here
categories = df['CompFreq'].unique()
categories

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [110]:
# your code goes here

def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return np.nan
df["NormalizedAnnualCompensation"]=df.apply(normalize_compensation, axis=1)

In [116]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age,NormalizedAnnualCompensation
count,11398.000000,1.058900e+04,1.058200e+04,11276.000000,8972.000000,11111.000000,1.058300e+04
mean,12490.392437,7.570477e+05,1.315967e+05,42.064606,4.781071,30.778895,6.136037e+06
std,7235.461999,9.705598e+06,2.947865e+05,24.672741,4.567060,7.393686,9.840938e+07
min,4.000000,0.000000e+00,0.000000e+00,3.000000,0.000000,16.000000,0.000000e+00
25%,6264.250000,2.500000e+04,2.686800e+04,40.000000,2.000000,25.000000,5.200000e+04
50%,12484.000000,6.500000e+04,5.774500e+04,40.000000,4.000000,29.000000,1.000000e+05
75%,18784.750000,1.200000e+05,1.000000e+05,43.000000,5.000000,35.000000,3.600000e+05
max,25142.000000,7.000000e+08,2.000000e+06,1012.000000,99.000000,99.000000,8.400000e+09

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).